<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balloon/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,212},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>balloon/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,172},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>balloon/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,162},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>balloon/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,122},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>balloon/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,82},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>balloon/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,42},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>balloon/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>balloon_explode/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{55,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{55,58}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>balloon_explode/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,127},{65,60}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{65,60}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>balloon_explode/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,59},{71,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{71,68}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>balloon_explode/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,123},{65,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{65,72}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>balloon_explode/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{71,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,222},{34,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,27}}</string>
                <key>sourceSize</key>
                <string>{34,27}</string>
            </dict>
            <key>hero/idle/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{74,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,55}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>hero/idle/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{70,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,55}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>hero/idle/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,189},{60,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{60,55}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>hero/idle/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{70,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,55}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>hero/idle/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,126},{70,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,55}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>hero/idle/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,115},{70,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,55}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>hero/run/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{81,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{81,58}}</string>
                <key>sourceSize</key>
                <string>{81,62}</string>
            </dict>
            <key>hero/run/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{79,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{79,60}}</string>
                <key>sourceSize</key>
                <string>{81,62}</string>
            </dict>
            <key>hero/run/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,59},{69,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{69,62}}</string>
                <key>sourceSize</key>
                <string>{81,62}</string>
            </dict>
            <key>hero/run/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,62},{75,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{75,62}}</string>
                <key>sourceSize</key>
                <string>{81,62}</string>
            </dict>
            <key>hero/run/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{75,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{75,56}}</string>
                <key>sourceSize</key>
                <string>{81,62}</string>
            </dict>
            <key>hero/run/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{75,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{75,56}}</string>
                <key>sourceSize</key>
                <string>{81,62}</string>
            </dict>
            <key>hero/run/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,62}}</string>
                <key>sourceSize</key>
                <string>{81,62}</string>
            </dict>
            <key>moster/fall/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,172},{63,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{63,45}}</string>
                <key>sourceSize</key>
                <string>{71,49}</string>
            </dict>
            <key>moster/fall/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,76},{67,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,49}}</string>
                <key>sourceSize</key>
                <string>{71,49}</string>
            </dict>
            <key>moster/fall/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,64},{71,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,49}}</string>
                <key>sourceSize</key>
                <string>{71,49}</string>
            </dict>
            <key>moster/fall/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,129},{65,41}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{65,41}}</string>
                <key>sourceSize</key>
                <string>{71,49}</string>
            </dict>
            <key>moster/fall/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,219},{59,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,49}}</string>
                <key>sourceSize</key>
                <string>{71,49}</string>
            </dict>
            <key>moster/normal/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,229},{59,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{59,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>moster/normal/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,183},{63,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{63,44}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>moster/normal/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,172},{61,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>moster/normal/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,183},{63,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{63,44}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>moster/normal/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,172},{61,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,48}}</string>
                <key>sourceSize</key>
                <string>{63,48}</string>
            </dict>
            <key>rope.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,62},{1,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,59}}</string>
                <key>sourceSize</key>
                <string>{1,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamelayer.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7cd46ab3a73385cdd6c1491e444706f:1/1$</string>
            <key>textureFileName</key>
            <string>gamelayer.png</string>
        </dict>
    </dict>
</plist>
